.btn{
    width: 350px;
    height: 60px;
    border: transparent;
    background: linear-gradient(268.32deg, #2FE99C 0%, #33B8B6 100%);
    box-shadow: 0px 20px 30px rgba(98, 214, 179, 0.3);
    
    font-family: 'MuseoSansCyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.btn.grey{
    background: #F5F5F5;
    box-shadow: none;
}

.dote{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid $grey-color;
    &:hover{
        cursor: pointer;
    }
}
.dote.active{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    background: $main-color;
    padding: 2px;
    box-shadow: 0px 0px 1px 2px $main-color;
}

.prev-btn{
    width: 15px;
    height: 47px;
    position: absolute;
    left: 0;
    top: 55%;
    &:hover{
        cursor: pointer;
    }
    span{
        display: block;
        height: 50%;
        width: 2px;
        background-color: $main-color;
        position: absolute;
        &:first-child{
            transform: rotate(30deg);
            left: 0;
            top:12%;
        }
        &:last-child{
            transform: rotate(-30deg);
            left: 0;
            top:56%;
        }
    }
}
.next-btn{
    width: 15px;
    height: 47px;
    position: absolute;
    right: 0;
    top: 55%;
    &:hover{
        cursor: pointer;
    }
    span{
        display: block;
        height: 50%;
        width: 2px;
        background-color: $main-color;
        position: absolute;
        &:first-child{
            transform: rotate(-30deg);
            right: 0;
            top:12%;
        }
        &:last-child{
            transform: rotate(30deg);
            right: 0;
            top:56%;
        }
    }
}