.testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
    
    &__wrapper{
        margin: 0 auto;
    }

    &__item{
        width: 90%;
        margin: 0 auto;
        min-height: 300px;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        .photo{
            width: 130px;
            height: 130px;
        }
        p{
            margin-top: 50px;
            font-family: 'MuseoSansCyrl-300';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
        }
        &-name{
            font-family: 'MuseoSansCyrl-500';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            margin-top: 50px;
        }
        &-company{
            width: 0 auto;
            img{
                width: 98px;
                height: 28px;
            }
        }
    }
}